/* styles/whatsappButton.module.css */
.whatsappButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25D366;
    border-radius: 8px; /* Sudut lebih tajam agar persegi panjang */
    padding: 12px 20px; /* Padding lebih besar untuk ukuran tombol persegi panjang */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .whatsappButton:hover {
    transform: scale(1.05); /* Membesarkan sedikit saat hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Efek bayangan lebih besar saat hover */
  }
  
  .whatsappButton img {
    width: 40px; /* Ukuran ikon WhatsApp lebih kecil */
    height: 40px;
    margin-right: 10px; /* Memberi jarak antara ikon dan teks */
  }
  
  .whatsappButton span {
    color: white; /* Warna teks putih */
    font-weight: bold;
    font-size: 16px; /* Ukuran font teks */
  }
  